# {{ ansible_managed }}

{% for ssh_audit_local_policy_file_content in ssh_audit_local_policy_file.content | ansible.builtin.dict2items %}
{{ ssh_audit_local_policy_file_content.key }} = {% if ssh_audit_local_policy_file_content.key == "name" %}"{% endif %}{{ ssh_audit_local_policy_file_content.value }}{% if ssh_audit_local_policy_file_content.key == "name" %}"{% endif %}

{% endfor %}

# vim: syntax=dosini
