# {{ ansible_managed }}

{% for ssh_audit_local_policy_content in ssh_audit_local_policy.content | ansible.builtin.dict2items %}
{%     if ssh_audit_local_policy_content.key == "name" %}
{{ ssh_audit_local_policy_content.key }} = "{{ ssh_audit_local_policy_content.value }}"
{%     else %}
{{ ssh_audit_local_policy_content.key }} = {{ ssh_audit_local_policy_content.value }}
{%     endif %}
{% endfor %}

# vim: syntax=dosini{# vim: syntax=jinja2 #}
